.toast-mess {
    top: 0;
    right: 0;
    z-index: 2;
    display: flex;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px 0px #85858599;
    animation: Toast 0.6s linear;
}
.icon-Exclamation {
    background-color: #ffaeae;
    color: #ff3434;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}
.txt-toast {
    margin-left: 10px;
    line-height: 30px;
    font-weight: 300;
}
.btn-close {
    margin-left: 10px;
    height: 30px;
    width: 30px;
    background-color: transparent;

    &:hover {
        cursor: pointer;
        background-color: #e5e5e5;
        border-radius: 5px;
    }
}
@keyframes Toast {
    from {
        opacity: 0;
        right: -300px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
//
.icon-Xmark {
    display: none;
}

.wrapper {
    background-color: var(--text-color-1);
    min-width: 20%;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px;
}

.inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title-header {
    display: flex;
    position: relative;
    margin-top: 20px;
    line-height: 28px;
    padding: 10px;
}
.icon-house {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.title {
    padding-left: 30px;
}
.option {
    padding: 10px;
}
.active {
    background-color: #484848;
}
.option-li {
    height: 40px;
    position: relative;
    padding-left: 10px;
    border-radius: 5px;

    &:hover {
        cursor: pointer;
        background-color: #484848;
    }
}
.icon-option {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}
.option-link {
    line-height: 40px;
    padding-left: 30px;
}
.setting {
    padding: 10px;
}

.btn-setting {
    color: #fff;
    position: relative;
    line-height: 40px;
    padding-left: 10px;
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
        background-color: #484848;
        cursor: pointer;
    }
}
.icon-setting {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10px;
}
.text {
    text-align: left;
    padding: 0 30px;
}
@media only screen and (max-width: 740px) {
    .icon-Xmark,
    .icon-bars {
        z-index: 1;
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        color: #fff;
        width: 47px;
        font-size: 28px;
        background-color: #333;
        text-align: center;
    }
    .wrapper {
        position: absolute;
        height: 100%;
        border-radius: 5px;
        z-index: 1;
        animation: Inshow 0.4s linear;
    }
    @keyframes Inshow {
        from {
            opacity: 0;
            left: -100px;
        }
        to {
            opacity: 1;
            left: 0;
        }
    }
}

@media only screen and (min-width: 741px) and (max-width: 1024px) {
}
