.wrapper {
    background-color: rgba(34, 34, 34, 0.9);
    position: fixed;
    width: 100%;
    height: 65px;
    line-height: 65px;
    z-index: 1;
}

.inner {
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo-left {
    position: relative;
    height: 65px;
    width: 120px;
    img {
        transition: width 0.5s ease;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        position: absolute;
        width: 70%;
    }
}

.action {
    display: flex;
    background-color: transparent;
    position: relative;
    padding: 15px 0;
}
.admin {
    display: flex;
    &:hover {
        cursor: pointer;
    }
}
.container-avatar {
    position: relative;
    display: flex;
    height: 30px;
    line-height: 50px;
    margin-right: 40px;
}
.info {
    padding: 2px 5px;
    display: flex;
    color: #fff;
}
.name {
    line-height: 30px;
}
.icon-caret {
    padding: 0 5px;
    height: 30px;
    width: 10px;
}
.avatar {
    width: 30px;
    height: 30px;
    // margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
    }

    &:hover {
        cursor: pointer;
    }
}

.setting {
    position: absolute;
    right: 0px;
    top: 50px;
    min-width: 150px;
    background-color: #fff;
    color: var(--text-color-1);
    font-weight: 400;
    border-radius: 5px;
    box-shadow: 10px 0px 20px 20px rgba(0, 0, 0, 0.12);
    padding: 5px 0px;
    animation: appear 0.4s linear;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.setting-option {
    display: flex;
    height: 40px;
    line-height: 40px;
    &:hover {
        cursor: pointer;
        background-color: #dddddd;
    }
}
.option-icon {
    height: 40px;
    width: 18px;
    margin-left: 10px;
}
.option-title {
    margin-left: 10px;
}
.info-name {
    margin-top: 8px;
    h3 {
        font-size: 1.6rem;
        font-weight: 500;
    }
    h4 {
        margin-top: 5px;
        font-size: 1.4rem;
        color: red;
    }
}

// mobile width < 740px
@media only screen and (max-width: 740px) {
    .container-avatar {
        margin-right: 0;
    }

    .action {
        margin-right: 10px;
    }
}

// tablet width >= 740px and width < 1024px
@media only screen and (min-width: 741px) and (max-width: 1024px) {
}
