.wrapper {
    width: 100%;
}

.sec-subscribe {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    background-color: #f0eee6;
    padding: 65px 20px;
}
.container {
    width: 1200px;
    height: 90px;
    background-color: transparent;
    display: flex;
}
.follow {
    width: 41.6666667%;
    padding: 15px;
    h3 {
        font-weight: 600;
    }
    p {
        color: var(--text-color-2);
    }
}
.sub {
    flex: 1;
}
.form {
    height: 100%;
    display: flex;
    padding: 15px 0;

    input {
        flex-grow: 1;
        min-width: 0;
        height: 60px;
        padding: 0 30px;
        font-size: 1.4rem;
        color: #666;
    }
    button {
        min-width: 21.428%;
        height: 60px;
        border-color: #333;
        color: #fff;
        background-color: #81b03f;
        transition: background-color ease 0.3s;

        &:hover {
            background-color: #333;
            cursor: pointer;
        }
    }
}

.footer {
    width: 100%;
    padding: 65px 20px 0 20px;
    display: flex;
    justify-content: center;
    background-color: #f7f6f2;
}
.ft-container {
    width: 1200px;
    background-color: transparent;
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px #cdcdcd99 solid;
}
.ft-col1 {
    width: 40%;

    .p {
        color: var(--text-color-2);
        margin-top: 20px;
        padding-right: 150px;
    }
}

.list-col1 {
    display: flex;
    margin-top: 6px;

    div {
        width: 28px;
        height: 28px;
        line-height: 35px;
    }
    p {
        line-height: 35px;
        font-size: 1.6rem;
        color: var(--text-color-2);
    }
}

.ft-col2,
.ft-col3 {
    width: 30%;

    h4 {
        height: 105px;
        font-size: 2.2rem;
        line-height: 105px;
    }
}

.list-col2-3 {
    height: 40px;
    font-size: 1.6rem;
    color: var(--text-color-2);

    &:hover {
        color: var(--border);
    }

    .link-col2-3 {
        display: block;
    }
}

.last {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #f7f6f2;
}
.inner {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 30px;
}
.copyright p {
    color: var(--text-color-3);
}
.pay {
    display: flex;
}
.list-pay {
    margin-right: 30px;
}
.icon-angleUp {
    display: flex;
    position: absolute;
    width: 40px;
    height: 39px;
    bottom: 0;
    right: 40px;
    background-color: #8fae4a;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0.6;
    cursor: pointer;

    svg path {
        color: #fff;
    }
}
@media only screen and (max-width: 740px) {
    .sec-subscribe {
        height: 100%;
    }
    .container {
        display: block;
        height: 100%;
    }
    .follow {
        width: 100%;
    }
    .form button {
        font-size: 1rem;
    }
    .ft-col1,
    .ft-col2,
    .ft-col3 {
        width: 100%;
    }
    .ft-container {
        display: block;
    }
    .ft-col1 .p {
        padding-right: 30px;
    }
    .inner {
        display: block;
    }
    .pay {
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

// tablet width >= 740px and width < 1024px
@media only screen and (min-width: 741px) and (max-width: 1024px) {
    .ft-col1 .p {
        padding-right: 30px;
    }
}
